.card_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1%; 
}

mat-card-title{
    color: black;
}

mat-card-content{
    color: black;
}

mat-card{
    width: max-content;
    height: auto;
    margin: 0;
}

mat-card{
    margin-bottom: 1%;
    margin-left: 1%;
}

mat-card-footer{
    opacity: 0; 
    transition: opacity 0.3s ease;
}


mat-card:hover mat-card-footer {
    opacity: 1; 
  }

mat-card-title{
    padding: 5px;
    padding-left: 10px;
}
