
.icon_container {
    position: relative;
    z-index: 1;
}

.menu-trigger {
    position: relative;
    z-index: 2;
}

.custom-menu {
    z-index: 200;
}



.left-icons a{
    margin-left: 20px;
}


.left-icons a:nth-last-child(2){
    margin-left: 10px;
}

.left-icons svg{
    transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;    
}

.left-icons svg:hover{
    background-color: rgba(69, 68, 67, 0.668);
    padding: 6px;
    border-radius: 50%;
}

.clicked {
    background-color: rgb(254, 239, 195);
    padding: 6px;
    border-radius: 50%;
  }

.color_container{
    padding: 8px;
}

.plate_button_div{
    display:flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.colorIcon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}
