.card_container{
    position: absolute;
    top: 3%;
    width: 110%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1%; 
    background-color: #faf9fd;
}

mat-card-title{
    color: black;
}

mat-card-content{
    color: black;
}

mat-card{
    width: max-content;
    height: auto;
    margin: 0;
}

mat-card{
    margin-bottom: 1%;
    margin-left: 1%;
}

mat-card-title{
    padding: 5px;
    padding-left: 10px;
}
